* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'HelveticaNeue', 'Times New Roman', Times, serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

$primary-color: #451549;
$secondary-color: #7b537e;

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
}